.formStyle {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 88%;
    padding: 1rem;
    margin-left: 1em;
    background: #ECDDF3;
    border-radius: 2px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14);
    color:rgb(87, 84, 84);
    border-radius: 6px;
}
.closeButtonStyle {
        cursor: pointer;
        margin-left: auto;
}
.inputStyle {
    font-weight: bold;
    display: block;
    border-style: none;
    background-color:rgb(245, 231, 231);
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 9px;
    border-radius: 15px;
}
::placeholder {
    color:rgb(87, 84, 84);
    opacity: 1; 
}
.textAreaStyle {
    display: block;
    border-style: none;
    background-color: rgba(245, 231, 231);
    padding: 10px;
    /* margin-bottom: 5px; */
    border-radius: 8px;
}
.taskButton {
    display: flex;
    align-items: flex-end;
}
.editButton {
    margin-top: 5px;
}
.buttonS {
    justify-content: center;
}

