.formStyle {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    margin: 0 0 1.5rem;
    background: #ECDDF3;
    border-radius: 2px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14);
}
.closeButtonStyle {
        cursor: pointer;
        margin-left: auto;
}
.inputStyle {
    font-weight: bold;
    display: block;
    border-style: none;
    background-color: gray;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 9px;
}
::placeholder {
    color:white;
    opacity: 1; 
}
.textAreaStyle {
    display: block;
    border-style: none;
    background-color: gray;
    padding: 10px;
    margin-bottom: 5px;
}
.taskButton {
    display: flex;
    align-items: flex-end;
}

