/* *{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
} */
#intro {
    background: url("./time_management_tips.jpg");
    opacity: 0.6;
    background-size: 320px 419px, cover;
    background-position: top left, bottom center;
    background-repeat: no-repeat;
    height: 405px;
    margin: 0;
    padding: 0;
    border: 0;
}
.content {
    position: relative;
}
header {
    margin-bottom: 1em;
    position: absolute;
    top: 153%;                        
    transform: translate(0, -275%);
}
.headerParagraph {
position: relative;
top: 349%;
width: 270px;
left: 7%;
transform: translate(0, 352%);
color: #131210;
}
.fa-arrow-alt-circle-down {
position: relative;
top: 349%;
left: 7%;
transform: translate(-22px, 303%);
color: #131210;
font-size: 77px;

}
.fa-arrow-circle-down {
    margin-right:0;
    color: black;
}
.main {
    padding: 4em 15px 4em 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main.style1 h2 {
    font-size: 2em;
    line-height: 1em;
    letter-spacing: -0.05em;
    font-weight: 900;
    color: rgb #131210;

}
.aboutPomodoro {
    background-color: rgb(77, 73, 73);
    padding: 10px;
    height: 252px;
}
.textAboutPomodoro{
    color: rgb(196, 184, 184);
}
#one {
    background: url("./tomato.jpg");
    opacity: 0.7;
    background-size: 320px 502px, cover;
    background-position: top left, bottom center;
    background-repeat: no-repeat;
    height: 503px;
    margin: 0;
    padding: 0;
    border: 0;
}
.fa-arrow-down{
    margin-left: 3em;
    font-size: 36px;
    margin-top: 1em;
    color: black;
}
#two {
    background: url("./getOrganized.jpeg");
    opacity: 0.7;
    background-size: 320px 511px, cover;
    background-position: top left, bottom center;
    background-repeat: no-repeat;
    height: 500px;
    margin: 0;
    padding: 0;
    border: 0;
}
.howCanWeHelp {
    background-color: rgb(77, 73, 73);
    padding: 10px;
}
.texthowCanWeHelp{
    color: rgb(196, 184, 184);
}
.buttonLandingPage {
    width: 150px;
    color: rgb(221, 213, 213);
    margin-top: 3em;
    background-color: #36853d;
    border-style: none;
    border-radius: 10px;
    padding: 9px;
    height: 3em;
    font-weight: bold;
}

