.showTaskForm {
    background-color: rgb(148, 200, 127);
    width: 70%;
    margin-left: 3em;
    height: 107px;
    border-radius: 9px;
    border-style: solid;
    border-color: wheat;

}
.paragraphStyle {
    border-bottom: 2px solid wheat;
    padding: 0.5em;
}